body{
    margin: 0;
    height: 100vh;
}
header{
    width: 100%;
    height: 144px;
    background-color: #ffffff;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
}
header h3, header p{
    margin: 0;
}
header h3 span{
    color: #C94042;
}
header h3{
    margin-left: 20%;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 21px;
}
header p{
    margin-left: 10%;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    color: #B3B3B3;
}
.content_1{
    width: 100%;
    height: 800px;
    background: url(../img/Rectanglehero.svg) 100% 100% no-repeat;
    background-size: cover;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content_1__info{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content_1 h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
}
.content_1 h3 span{
    color: #C94042;
}
.content_1__price{
    width: 300px;
    height: 100px;
    background-color: #FF1B63;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.content_1__price p span{
    font-weight: 800;
    font-size: 35px;
    line-height: 151.16%;
}
.percent{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    font-weight: 800;
    font-size: 35px;
}
.content_1 a{
    text-decoration: none;
    padding: 40px;
    width: 500px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 70px rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    margin-top: 2%;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

.content_2{
    width: 100%;
    height: 2380px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
.content_2_layout{
    width: 60%;
    height: 2280px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.item_1{
    width: 38%;
    height: 500px;
    background-color: white;
    margin-top: 3%;
    font-family: Montserrat;
    color: #37373F;
}
.item_1 h3{
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
}
.item_1 p{
    font-size: 12px;
    margin: 0;
}
.item_1 p span{
    font-weight: bold;
}
.item_1 ul{
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    list-style: none;
    padding: 0;
}
.item_1 ul li img{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
}
.item_1__stars{
    border-top: 0.5px solid #C7C7C7;
    border-bottom: 0.5px solid #C7C7C7;
    padding: 10px 0;
}
.item_1__stars img{
    margin-right: 10px;
}
.item_2{
    width: 48%;
    height: 380px;
    margin-top: 3%;
}
.item_3{
    width: 100%;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5px solid #C7C7C7;
}
.item_3 h4{
    order: 1;
    align-self: flex-start;
    color: #37373F;
    margin-left: 20px;
}
.item_3 ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    justify-content: center;
    order: 2;
}
.item_3 ul li{
    margin: 5px;
    list-style: none; 
}
.item_3 button{
    border: none;
    background-color: #ffffff;
    padding: 0;
    order: 3;
    color: #5286EC;
}
.item_3 button span{
    font-size: 10px;
    color: #C7C7C7;
}
.item_4{
    width: 48%;
    height: 600px;
    font-family: Montserrat;
    line-height: 24px;
    border-bottom: 0.5px solid #C7C7C7;
}
.item_4 h4{
    color: #37373F;
    font-weight: 500;
    font-size: 18px;
    margin: 5px 0;
}
.item_4 p{
    font-size: 13px;
    color: #37373F;
    margin: 0;
}
.item_4 button{
    margin-bottom: 10px;
    border: none;
    background-color: #ffffff;
    padding: 0;
    order: 3;
    color: #5286EC;
}
.item_4 button span{
    font-size: 10px;
    color: #C7C7C7;
}
.item_5{
    width: 48%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.5px solid #C7C7C7;
}
.item_5__photo{
    display: flex;
    align-items: flex-start;
    margin: 30px 5px;
}
.item_5 h5, p{
    margin:5px 0;
}
.item_5 h5{
    color: #37373F;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.item_5 p{
    color: #37373F;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 21px;
}
.item_5 button{
    border: none;
    background-color: #ffffff;
    padding: 0;
    color: #5286EC;
}
.item_6{
    width: 66%;
    height: 540px;
    margin-right: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.item_6 h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #37373F;
    padding-left: 20px;
}
.item_6__timetable{
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
}
.item_6__timetable > p{
    padding-left: 20px;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid #C7C7C7;
    padding: 10px 0 10px 20px;
}
.item_6__timetable > p img{
    margin-left: 20px;
    border: 1px solid #C7C7C7;
    padding: 5px;
}
.item_6__timetable > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 1px solid #C7C7C7;
    box-sizing: border-box;
}
.item_6__timetable p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
}
.item_6__timetable span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #37373F;
}
.item_6__timetable button{
    background-color: white;
    border: 1px solid red;
    width: 130px;
    height: 40px;
    color: red;
}
.item_6__timetable button:hover{
    cursor: pointer;
}
.item_6__stars{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 26px;
    color: #37373F;
    margin-top: 50px;
}
.content_3{
    width: 100%;
    height: 550px;
    background-color: darkslategrey;
    margin-bottom: 1%;
}
.content_4{
    width: 100%;
    padding-top: 30px;
}
.content_4__item{
    width:36%;
    margin-left: 20%;
    margin-bottom: 55px;
}
.content_4__item button{
    border: none;
    background-color: #ffffff;
    padding: 0;
    order: 3;
    color: #5286EC;
    text-align: center;
    order: 10;
    align-self: center;
}
.content_4__item button span{
    font-size: 10px;
    color: #C7C7C7;
}
.button{
    display: flex;
    justify-content: center;
}
.content_4__item > p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #37373F;
    margin: 0 0 30px 10px;
}
.content_4__review{
    display: flex;
    flex-wrap: wrap;
}

.content_4__review h5 {
    width: 100%;
}
.content_4__review h5 + p{
    width: 100%;
}
.content_4__review > img{
    margin: 10px;
}
.content_4__review div > img{
    margin-right: 10px;
}
.content_4__review span{
    font-family: Montserrat;
    font-size: 10px;
    line-height: 21px;
    color: #B3B3B3;
}
.content_4__review > div{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    font-family: Montserrat;
    font-size: 13px;
    color: #37373F;
    margin-bottom: 20px;
    border-bottom: 1px solid #C7C7C7;
}
.content_4__footer{
    width: 60%;
    height: 200px;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #B3B3B3;
}
.content_4__footer > div{
    width: 100%;
}
.footer_social{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content_4__footer > div h3{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 21px;
}
.content_4__footer > div h3 span{
    color: #C94042;
}
.content_4__footer button{
    background: none;
    border: none;
    font-size: 20px;
}
.content_4__footer  button span{
    color: #C7C7C7;
    margin-left: 10px;
}

.content_4__footer button:hover{
    cursor: pointer;
}
.footer_cards{
    background-color: #FAF9F8;
}
.footer_cards > div{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
   @media screen and (max-width: 425px) {
    header{
        width: 100%;
        height: 10%;
    }
    .content_1{
        width: 100%;
        height: 650px;
    }
    .content_1 a{
        padding: 10px;
        width: 300px;
    }
    .content_2{
        width: 100%;
        height: 3400px;
    }
    .content_2_layout{
        width: 95%;
        height: 100%;
    }
    .item_1{
        width: 90%;
        height: 450px;
    }
    .item_2{
        width: 90%;
        height: 230px;
    }
    .item_3{
        width: 90%;
        height: 1140px;
    }
    .item_4{
        width: 100%;
        height: 600px;
    }
    .item_5{
        width: 90%;
        height: 350px;
    }
    .item_6{
        width: 100%;
        height: 355px;
        margin-right: 0;
    }
    .item_6__timetable {
        width: 100%;
    }
    .item_6__timetable p{
        padding: 5px;
        height: 30px;
        margin: 0;
    }
    .item_6__timetable > div span{
        padding: 5px;
        height: 30px;
    }
    .item_6__timetable > div {
        padding: 5px;
    }
    .content_3{
        width: 100%;
        height: 550px;
    }
    .content_4{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .content_4__item{
        width:100%;
        margin: 0;

    }
    .content_4__review {
        justify-content: center;
    }
    .content_4__footer{
        width: 100%;
        margin: 20px auto 0 auto;
    }
    .content_4__footer > div {
        padding: 10px;
    }
    .footer_cards > div {
        width: 100%;
    }
   }
   @media screen and (max-width: 376px) {
    .content_1 h3 {
        font-size: 30px;
    }
    .item_5 {
        height: 300px;
    }
    .item_6__timetable p{
        font-size: 12px;
    }
    .content_4__review > div {
        width: 70%;
    }
    .content_4__footer button {
        font-size: 10px;
    }
   }
   @media screen and (max-width: 769px) {
    .item_1 p {
        font-size: 10px;
    }
    .content_2_layout {
        width: 90%;
    }
    .content_4__item {
        width: 90%;
        margin-left:0;
    }
    .item_6__timetable p{
        font-size: 10px;
    }
    .content_4__footer > div h3 {
        font-size: 10px;
    }
    .content_4__footer > div {
        font-size: 10px;
    }
   }
  