body{
    margin: 0;
    height: 100vh;
}
header{
    width: 100%;
    height: 144px;
    background-color: #ffffff;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
}
header h3, header p{
    margin: 0;
}
header h3 span{
    color: #C94042;
}
header h3{
    margin-left: 20%;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 21px;
}
header p{
    margin-left: 10%;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    color: #B3B3B3;
}

.content_1{
    width: 100%;
    height: 800px;
    background: url(./img/Rectanglehero.svg) 100% 100% no-repeat;
    background-size: cover;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content_1__info{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.content_1 h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
}
.content_1 h3 span{
    color: #C94042;
}
.content_1__price{
    width: 300px;
    height: 100px;
    background-color: #FF1B63;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.content_1__price p span{
    font-weight: 800;
    font-size: 35px;
    line-height: 151.16%;
}
.percent{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
}
.content_1 a{
    text-decoration: none;
    padding: 40px;
    width: 500px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 70px rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    margin-top: 2%;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

.content_2{
    width: 100%;
    height: 2380px;
    background-color: darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
.content_1_layout{
    width: 60%;
    height: 2280px;
    background-color: darkslateblue;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.item_1{
    width: 38%;
    height: 500px;
    background-color: chartreuse;
    margin-top: 3%;
}
.item_2{
    width: 48%;
    height: 380px;
    background-color: darkkhaki;
    margin-top: 3%;
}
.item_3{
    width: 100%;
    height: 530px;
    background-color: fuchsia;
}
.item_4{
    width: 48%;
    height: 600px;
    background-color: darkseagreen;
}
.item_5{
    width: 48%;
    height: 600px;
    background-color: indianred;
}
.item_6{
    width: 66%;
    height: 540px;
    background-color: yellowgreen;
    margin-right: 29%;
}
.content_3{
    width: 100%;
    height: 550px;
    background-color: darkslategrey;
    margin-bottom: 1%;
}
.content_4{
    width: 100%;
    height: 1355px;
    background-color: gold;
    padding-top: 30px;
}
.content_4__item{
    width:36%;
    height: 1100px;
    background-color: thistle;
    margin-left: 20%;
    margin-bottom: 55px;
}
.content_4__footer{
    width: 60%;
    height: 200px;
    background-color: gray;
    margin-left: 20%;
}
   @media screen and (max-width: 425px) {
    header{
        width: 100%;
        height: 60%;
    }
    .content_1{
        width: 100%;
        height: 650px;
    }
    .content_2{
        width: 100%;
        height: 3400px;
    }
    .content_1_layout{
        height: 100%;
    }
    .item_1{
        width: 90%;
        height: 300px;
    }
    .item_2{
        width: 90%;
        height: 400px;
    }
    .item_3{
        width: 90%;
        height: 500px;
    }
    .item_4{
        width: 100%;
        height: 10px;
    }
    .item_5{
        width: 90%;
        height: 1300px;
    }
    .item_6{
        width: 90%;
        height: 600px;
        margin-right: 0;
    }
    .content_3{
        width: 100%;
        height: 400px;
    }
    .content_4{
        width: 100%;
        height: 1630px;
        display: flex;
    }
    .content_4__item{
        width:100%;
        height: 1480px;
        margin: 0 auto;
    }
    .content_4__footer{
        width: 100%;
        height: 130px;
        margin: 20px auto 0 auto;
    }
   }